<div class="container-fluid">
    <h1 class="display-1">Wine Pairing Application</h1>
    <h2>Pick a wine varietal from the dropdown to find recipes, location & ingredients {{wine}}</h2>
    <form action="wine" method="get">
        <label for="wine"></label>
        <select name="varietal" id="wine">
            {{#each wine_list}}
                <option value="{{this.varietal}}">{{this.varietal}}</option>
            {{/each}}
<!--            <option value="default">Wine Varietal</option>-->
<!--            <option value="chardonnay">Chardonnay</option>-->
<!--            <option value="merlot">Merlot</option>-->
<!--            <option value="pinot_grigio">Pinot Grigio</option>-->
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <ul>

    </ul>
        {{error}}
</div>