
<!--header-->
<div class="container-fluid">
    <div class="row glass vertical-align">
        <div class="col text-center">
            <h1>Wine Pairing</h1>
            <h1>Application</h1>
        </div>
    </div>
</div>

<!--wine form-->
<div class="container black">
    <h2>Pick a wine varietal from the dropdown to find recipes, location & ingredients {{wine}}</h2>
    <div class="form-group">
        <form action="recipes" method="get">
            <label for="wine"></label>
            <select name="varietal" id="wine">
                {{#each wines}}
                    <option value="{{this.varietal}}">{{this.varietal}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Find Info!">
        </form>
    </div>
</div>

<!--error handler-->
<div class="error">
    {{error}}
</div>
